uvicorn~=0.35.0
fastapi~=0.115.14
apache-airflow~=3.0.2
boto3~=1.40.1
pendulum~=3.1.0
botocore~=1.40.1
pandas~=2.3.0
eurostat~=1.1.1
requests~=2.32.4
seaborn~=0.13.2
pip~=25.1.1
attrs~=25.3.0
protobuf~=5.29.5
cryptography~=45.0.4
pillow~=11.2.1
tornado~=6.5.1
Jinja2~=3.1.6
redis~=5.2.1